////////////////////////////
// USER NAVIGATION

.user-nav {
  
    /*
      This will make the navbar with the three boxes stretch across the header
      from top to bottom.
    */
    align-self: stretch;
  
    display: flex;
    /*   align-items: center;
   */
    align-items: stretch;
  
    /*
      Direct elements - the icon-boxes and the user
      being a flex item overrides span being an inline element so we can set
      its height and width.
    */
    & > * {
      padding: 0 2rem;
      cursor: pointer;
  
      /*     height: 100%;
      we can use align-items: stretch in the container instead
   */
      /*
          Lets us center the children vertically.
      */
      display: flex;
      align-items: center;
    }
  
    & > *:hover {
      background-color: var(--color-grey-light-2);
    }
  
    &__icon-box {
      position: relative;
    }
  
    &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2);
    }
  
    &__notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #fff;
  
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
  
      /*
          center the text inside the circle
      */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /*   &__user {
    } */
  
    &__user-photo {
      height: 3.75rem;
      border-radius: 50%;
  
      margin-right: 1rem;
    }
  
    /*   &__user-name {
    } */
}